//- Facebook
            
meta(property="og:url",	content="http://pruebafilm.herokuapp.com/films/#{pelicula.titulo}")
meta(property="og:type", content="article")
meta(property="og:title", content="#{pelicula.titulo} | Films Play")
meta(property="og:description", content="#{pelicula.descripcion}")
//- meta(property="og:image", content="http://pruebafilm.herokuapp.com/imagenes/films/#{pelicula.foto}")
meta(property="og:image", content="http://lorempixel.com/g/400/600")


//- twitter

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@filmsplay1")
meta(name="twitter:creator", content="@filmsplay1" )
meta(name="twitter:title", content="#{pelicula.titulo} | Films Play" )
meta(name="twitter:description", content="#{pelicula.descripcion}")
//- meta(name="twitter:image", content="http://pruebafilm.herokuapp.com/imagenes/films/#{pelicula.foto}")
meta(property="twitter:image", content="http://lorempixel.com/g/400/600")
