if url == ''

    //- Facebook
            
    meta(property="og:url",	content="http://pruebafilm.herokuapp.com/")
    meta(property="og:type", content="article")
    meta(property="og:title", content="Films Play | Peliculas para descargar gratis en HD")
    meta(property="og:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
    meta(property="og:image", content="http://pruebafilm.herokuapp.com/imagenes/icons/films450.png")

    //- twitter

    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@filmsplay1")
    meta(name="twitter:creator", content="@filmsplay1" )
    meta(name="twitter:title", content="Films Play | Peliculas para descargar gratis en HD" )
    meta(name="twitter:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
    meta(name="twitter:image", content="http://pruebafilm.herokuapp.com/imagenes/icons/films450.png")

else

    if url == "age"

        //- Facebook
                
        meta(property="og:url",	content="http://pruebafilm.herokuapp.com/peliculas/age/#{dato}")
        meta(property="og:type", content="article")
        meta(property="og:title", content="Films Play | Peliculas del #{ dato } para descargar gratis en HD")
        meta(property="og:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces. ")
        meta(property="og:image", content="http://pruebafilm.herokuapp.com/imagenes/icons/films450.png")

        //- twitter

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="@filmsplay1")
        meta(name="twitter:creator", content="@filmsplay1" )
        meta(name="twitter:title", content="Films Play | Peliculas del #{ dato } para descargar gratis en HD" )
        meta(name="twitter:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
        meta(name="twitter:image", content="http://pruebafilm.herokuapp.com/imagenes/icons/films450.png")
    
    else

        //- Facebook
                
        meta(property="og:url",	content="http://pruebafilm.herokuapp.com/peliculas/age/#{dato}")
        meta(property="og:type", content="article")
        meta(property="og:title", content="Films Play | Peliculas de #{ dato } para descargar gratis en HD")
        meta(property="og:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
        meta(property="og:image", content="http://pruebafilm.herokuapp.com/imagenes/icons/films450.png")

        //- twitter

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:site", content="@filmsplay1")
        meta(name="twitter:creator", content="@filmsplay1" )
        meta(name="twitter:title", content="Films Play | Peliculas de #{ dato } para descargar gratis en HD" )
        meta(name="twitter:description", content="Tenemos las mejores peliculas para ti con calidad HD. Descargalas con un click en los mejores enlaces.")
        meta(name="twitter:image", content="http://pruebafilm.herokuapp.com/imagenes/icons/films450.png")